@import "../breakpoints", "../mixins", "../colors";
.imageCard {
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.container {
  //   display: inline-block;
  //   overflow: hidden;
  //   position: relative;
  //   width: 100%;
  height: 300px;
  border-radius: 50px;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // font-size: 3rem;
  font-style: italic;
  font-weight: bolder;
  color: $color-3-white;
}
