@import "../breakpoints", "../mixins", "../colors";
.imageCard {
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.container {
  height: 300px;
  border-radius: 50px;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: $color-3-white;
}
