// Imports - needs to be imported each time to individual .scss files
@import "breakpoints", "mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // Background
  background: #057;
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // animation: gradient 3s ease infinite;
  // background-size: 400% 400%;
  min-width: 430px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// Drew Custom
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
