@import "mixins";

.section0 {
  height: 95vh;
}

.headline {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0;
  @include xs {
    font-size: 2.8rem;
  }
  @include sm {
    font-size: 5.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  @include md {
    font-size: 6.75rem;
  }
  @include lg {
    font-size: 9rem;
  }
  @include xl {
    font-size: 11rem;
    margin-bottom: -1rem;
  }
  @include xxl {
    font-size: 13rem;
  }
}

.slogan {
  text-align: center;
  font-family: "DM Serif Display";
  margin: 0px;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  @include sm {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @include md {
    font-size: 2.25rem;
  }
  @include lg {
    font-size: 3.1rem;
  }
  @include xl {
    font-size: 3.8rem;
  }
  @include xxl {
    font-size: 4.5rem;
  }
}

.boxes {
  display: flex;
  gap: 1rem;
  height: 65%;
  flex-direction: column;
  @include sm {
    flex-direction: row;
  }
  @include md {
  }
  @include lg {
  }
  @include xl {
  }
  @include xxl {
  }
}

.box1Container {
  height: 100%;
  @include sm {
  }
  @include md {
    width: 60%;
  }
  @include lg {
  }
  @include xl {
  }
  @include xxl {
  }
}

.section1 {
  min-height: 95vh;
}
.section2 {
  min-height: 95vh;
}
.section3 {
  min-height: 95vh;
}

// Not in use anymore
.name {
  font-size: 7vw;
  font-family: "Sacramento", cursive;
  animation: blink 4s infinite;
  // -webkit-animation: blink 4s infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    // // Purple Neon
    // text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    //   0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    // color: #fccaff;

    // Orange Neon
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
